
$max-width: 800px;
$max-overflow: 100px;

.issues-section {
    padding-top: 60px;
    min-height: calc(var(--vh, 1vh) * 100);

    .filter-issues {}

    .issue {
        h2 {
            font-family: 'Zilla Slab', sans-serif;
            font-weight: bold;
            font-size: 2.6rem;

            @include media-breakpoint-up(md) {
                font-size: 3.5em;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 4.4em;
            }
        }

        p {
            font-family: 'Inter', sans-serif;
            font-weight: normal;
            font-size: 1.5rem;

            max-width: $max-width + $max-overflow;
        }

        &:last-of-type,
        &:last-child {
            // + hr if the hr element is adjacent
            hr {
                display: none;
            }
        }
    }

    hr {
        max-width: $max-width;
        margin: $issues-padding-y 0;
    }

}
