
// Override main-section
.issue-section {
    padding-bottom: 0;

    .logo-text {
        font-size: 2em;

        @include media-breakpoint-up(md) {
            font-size: 3.8em;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 4.2em;
        }
    }

    .issue-row {
        flex: 2.2;

        .issue-row-container {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 50%);
            bottom: 50%;
            // bottom: calc(var(--vh, 1vh) * 50);

            text-align: center;

            @include media-breakpoint-down(sm2) {
                bottom: 30%;
                // bottom: calc(var(--vh, 1vh) * 38);
            }

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            .emoticon {
                width: 100%;
                height: 60px;

                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                &.celebration {
                    background-image: url('../../img/emoji/party-popper.png');
                }

                &.crying {
                    background-image: url('../../img/emoji/loudly-crying-face.png');
                }

            }

            h2 {
                font-family: 'Zilla Slab', sans-serif;
                font-weight: bold;

                font-size: 2em;

                @include media-breakpoint-up(md) {
                    font-size: 3.8em;
                }
                @include media-breakpoint-up(xxl) {
                    font-size: 4.2em;
                }
            }

            .btn {}
        }

    }
}
