$grid-breakpoints: (
    xs: 0,

    sm: 576px,
    sm2: 600px,

    md: 768px,
    lg: 992px,

    xl : 1200px,
    xl2: 1315px,

    xxl: 1400px
);


// Colors
$color-black: #101010;
$color-white: #ffffff;
$color-blue : #0060df;

$padding-y: 4rem;
$padding-x: 4rem;

// Rules
$rules-padding-y: 3.2rem;
